<div class="container">

  <h1> You've landed on /get_cool_url... Welcome!</h1>

    <p> You entered <%=params[:preferences][:user_input]%> in the text box.</p>
    <p> You selected <%=params[:preferences][:fruit]%> as a radio button choice.</p>
    <% p params %>
</div>
