<div class="container">

<h1> These are our forms </h1>
<div class="pink_container">
<form name="fruit_form" action="/cool_url" method = "get">
  Enter a word: <input type ="text" name ="preferences[user_input]">
  <br>
  Pick your favorite fruit:<br>
  <input type="radio" name="preferences[fruit]" value="apples">Apples<br>
  <input type="radio" name="preferences[fruit]" value="peaches">Peaches<br>
  <input type="radio" name="preferences[fruit]" value="pears">Pears<br>
  <input type="radio" name="preferences[fruit]" value="plums">Plums<br>

  <input type="submit" value="click me">
</form><br>

</div>

<div class="grey_container">

<form name="post form" action="/cool_url" method = "post">
  Enter a word: <input type ="text" name ="foobars[user_input]"><br>
  Check the hobbies you enjoy:<br>
  <input type="checkbox" name="foobars[hobby][]" value="Sports">Sports<br>
  <input type="checkbox" name="foobars[hobby][]" value="Reading">Reading<br>
  <input type="checkbox" name="foobars[hobby][]" value="Drinking Wine">Wine<br>
  <input type="checkbox" name="foobars[hobby][]" value="Cooking">Cooking<br>
  <input type="submit" value="click me">
</form>

</div>
